.parent{
  background-color: blue;
  height: 600px;
}

.child-1{
  background-color: red;
  width: 50%
  height: 50%;
}

.child-2{
  background-color: yellow;
  width: 25%
  height: 50%;
}

.parent-font{
  font-size: 30px;
}

.full-height {
  height: 100vh;
  background-color: lightgoldenrodyellow;
}

.parent-div {
  color: aqua;
  font-size: 10rem;
  border: 2px black solid;
}