.flex-contauner {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.box {
  width: 100px;
  height: 100px;
  background-color: lightpink;
}

(max-width: 767px) {
  .flex-contauner {
    flex-direction: cloumn;
  }
}
